body {
}
#login-maodal .modal-dialog{
    max-width:420px;
}
.login-maodal .modal-header,.register-maodal .modal-header{
    background-color: #f5f5f5;
    color: #505050;
    border-radius: 4px 4px 0 0;
    border: 0;
    text-align: center;
}
#modal-login-header{
    text-align: center;
    line-height: unset;
    width: 100%;
    font-size: 17px;
}
.login-maodal .modal-footer,.register-maodal .modal-footer{
    background-color: #f5f5f5;
    color: #767676;
    border-radius:0 0 4px 4px;
    text-align: center;
    min-height: 40px;
    border-top: none;
}
.input-cust{
    width:80%;
    max-width:80%;
    margin:auto;
    font-size: 13px;
}
.forgot-pass{
    width:80%;
    margin:auto;
    text-align:right;
    margin-bottom: 20px;
}
.forgot-pass .login-forgot-pass {
    text-align: right;
    color: #e59194;
}
.login-maodal .modal-footer{
    justify-content: center;
}
.login-maodal .modal-footer a {
    cursor: pointer;
    text-decoration: none;
    color: #e59194;
    font-weight: 500;
}
.sign-btn,.register-btn{
    width:80%;
    margin:auto;
    text-align:center;
}
.sign-btn .sign-in,.register{
   background-color: #e59194;
    text-align:center;
    color:#ffffff;
    width:100%;
    min-width:200px;
    border-radius:0;
}
#login-forgot-pass{
    background:none;
    outline:none;
    border:none;
    cursor:pointer;
}

#login-forgot-pass:hover{
    color:#aeb2bf;
}
button.sign-in.btn:hover,button.sign-in.btn:active,button.sign-in.btn:visited,button.sign-in.btn:focus {
    background: #ffffff;
    border-color: #e59194;
    color: #e59194;
}
.register:hover,.register:active,.register:visited,.register:focus {
    background: #ffffff;
    border-color: #e59194;
    color: #e59194;
}
.modal-Fspan{
    color: #767676;
}

#eminvalid, #passinvalid, #unameinvalid, #emailinvalid{
margin-left: 11%;
margin-top: 5%;
color: #e59194;
}

.sendmail, .resetpass{
margin-top: 10px;
}

