<div class="test_resize">

    
        <div class="row col-md-12">
            <div class="list-group dashboard-links Custom_Size">
                <a href="#" class="list-group-item list-group-item-action dash-page">Dashboard</a>
            </div>
            <div class="list-group dashboard-links Custom_Size">
                <a href="#" class="list-group-item list-group-item-action dash-page">Profile</a>
            </div>
            <div class="list-group dashboard-links Custom_Size">
                <a href="#" class="list-group-item list-group-item-action dash-page active">Edit Profile</a>
            </div>
            <div class="list-group dashboard-links Custom_Size">
                <a href="#" class="list-group-item list-group-item-action dash-page">Current Projects</a>
            </div>
            <div class="list-group dashboard-links Custom_Size">
                <a href="#" class="list-group-item list-group-item-action dash-page">Completed Projects</a>
            </div>
            <div class="list-group dashboard-links Custom_Size">
                <a href="#" class="list-group-item list-group-item-action dash-page">Assigned Projects</a>
            </div>
            <div class="list-group dashboard-links Custom_Size">
                <a href="#" class="list-group-item list-group-item-action dash-page">Requests & Responses</a>
            </div>
            <div class="list-group dashboard-links Custom_Size">
                <a href="#" class="list-group-item list-group-item-action dash-page">Previous Delivered Projects</a>
            </div>
        </div>
    </div>