<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 show-profile  ">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>Profile</h4>
                    <hr>
                </div>
            </div>
            <div>
                <div class="col-md-12">
                    <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12">
                        <div class="profile-pic pic2">
                            <img src="" class="p-img img-responsive" />
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xl-12 col-sm-12">
                        <div class="profile-username">
                            <strong>Username : </strong> <span>Lorem Ispum</span>
                        </div>
                        <div class="profile-name">
                            <strong>Name : </strong> <span>Lorem Ispum</span>
                        </div>
                        <br />
                        <div class="email-show">
                            <strong>Email : </strong>  <span> Lorem_Ispum100@loremispum.com</span>
                        </div>
                        <br />
                        <div class="mobile_number_show">
                            <span><strong>Number : </strong> (+20) 1098856314</span>
                        </div>
                        <br />
                        <div class="job_desc_show">
                            <strong>Job Description : </strong><br />
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            </span>
                        </div>
                        <br />
                        <div class="role_show">
                            <span><strong>Role : </strong>Marketing Director</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
