<div class="project">
    <div class="card border-primary mb-3 project_card">
        <div class="card-header bg-primary text-white ">
            Owner Name
        </div>
        <div class="card-body text-primary">
            <h5 class="card-title">Project Title</h5><br />
            <p class="card-text">description description description description description description description description description description description description description description description description description description description description description description description description description description description description description description .</p>
            <p class="card-text">Cost$</p>
            <p class="card-text">Deadline</p>
            <a href="#" class="btn btn-primary float-right">Invite MD</a>
        </div>
    </div>
</div>