   <!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">
        <div class="row text-center footer-icons-pages">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <ul class="list-inline social-icons">

                    <li class="col-4">
                        <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                    </li>

                    <li class="col-4">
                        <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                    </li>

                    <li class="col-4">
                        <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
                    </li>

                </ul>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <ul class="menu list-inline">

                    <li>
                        <a href="#">Link</a>
                    </li>

                    <li>
                        <a href="#">Link</a>
                    </li>

                    <li>
                        <a href="#">Link</a>
                    </li>

                    <li>
                        <a href="#">Link </a>
                    </li>

                    <li>
                        <a href="#">Link</a>
                    </li>

                </ul>
            </div>


        </div>
    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2019 Copyright:
        <a href="#" class="site-name">Site Name</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
