
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home-section">
    <div class="home-wrap">
        <div class="project-forms"></div><!--project-forms-->
    </div><!--home-wrap-->
</section><!--homw-section-->
<section class="home-project">
    <div class="projects-wrap">
    </div><!--projects-wrap-->
</section><!--home-project-->
<div class="container">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login-modal">Open modal for login</button>

    <div class="modal fade " data-backdrop="static" data-keyboard="false" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-maodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered login-maodal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-login-header">Sign in</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="login-wrap tab-pane show active" role="tabpanel" id="login-controll">
                            <form class="login-form">
                                <div class="form-group">
                                    <!----<label for="login-name" class="col-form-label">Name:</label>-->
                                    <input type="text" class="form-control login-input input-cust" placeholder="Email" id="login-name">
                                </div>
                                <div class="form-group">
                                    <!----<label for="login-pass" class="col-form-label">Password:</label>-->
                                    <input type="password" class="form-control login-input input-cust" placeholder="Password" id="login-pass">
                                </div>

                                <div class="forgot-pass">
                                    <button id="login-forgot-pass" class="login-forgot-pass" type="button" name="forgot-btn">Forgot Password</button>
                                </div><!--forgot-pass-->
                                <div class="sign-btn form-group">
                                    <button class="sign-in btn" type="submit" name="sign-in">sgin in</button>
                                </div><!--sign--->
                            </form>
                        </div><!--login-wrap-->

                        <div class="register-wrap tab-pane" role="tabpanel" id="register-controll">
                   @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                   {
                            <div class="form-group">
                                <input type="text" class="form-control input-cust" id="fname" name = "fname" placeholder="First Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-cust" id="lname" name = "lname" placeholder="Last Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-cust" id="mobile" name = "mobile" placeholder="Phone Number" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control input-cust" id="email" name = "email" placeholder="email" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-cust" id="role" name = "role" placeholder="Role" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input-cust" id="username" name = "username" placeholder="username" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-cust" id="password" name = "password" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control input-cust" id="photo" name = "photo" placeholder="Photo" required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control input-cust" id="jobdesc" rows="4" name = "jobdesc" placeholder="Job Descrption" required></textarea>
                            </div>
                            <div class="register-btn form-group">
                                <button class="register btn" type="submit" name="register">register</button>
                            </div><!--register--->
                        
                        </div><!--register-->
                   }
                    </div><!--tab-content-->
                </div><!--modal-body-->

                <div class="modal-footer">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="login-switch" data-toggle="list" href="#register-controll" role="tab" aria-controls="register">
                            <span id="login-footer-span" class="modal-Fspan">Don't have an account?</span>
                            Create Account
                        </a>


                        <a class="register-switch active text-hide" data-toggle="list" href="#login-controll" role="tab" aria-controls="login">
                            <span id="login-footer-span" class="modal-Fspan"> Already have an account?</span>
                            Sign in
                        </a>

                    </div><!--list-group-->
                </div><!--modal-footer-->
            </div><!--modal-content-->
        </div><!--modal-dialog-->
    </div><!--modal-->
</div><!--container-->

<div class="col-md-9">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h1>Project Form</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("Add_Project", "Home", FormMethod.Post, new { enctype = "multipart/form-data" , id ="Add_Project_form"}))
                    {
                        <div class="form-group row">
                            <label for="name" class="col-4 col-form-label">Project Name</label>
                            <div class="col-8">
                                <input id="project_name" name="project_name" placeholder="Name" class="form-control here" required="required" type="text">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="text" class="col-4 col-form-label">Description of your Project</label>
                            <div class="col-8">
                                <textarea id="des_project" name="des_project" rows="10" cols="30" placeholder="Desc" class="form-control here" required="required" type="text"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-4 col-form-label">Start Time</label>
                            <div class="col-8">
                                <input id="start_time" name="start_time" placeholder="MM/DD/YY" class="form-control here" required="required" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-4 col-form-label">End Time</label>
                            <div class="col-8">
                                <input id="end_time" name="end_time" placeholder="MM/DD/YY" class="form-control here" required="required" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-4 col-form-label">Project Cost</label>
                            <div class="col-8">
                                <input id="price" name="price" placeholder="Project Cost" class="form-control here" required="required" type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="offset-4 col-8">
                                <button name="Add_project" type="submit" id="Add_project" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Partial("_footer")
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<!--<script>
    $(document).ready(function () {

        $("#Add_project").click(function () {

            my_data = $("Add_Project_form").serialize();
            $.ajax({
                type: "POST",
                url: "/Home/Add_Project",
                data: my_data,
                success: function (response) {
                    alert("success");
                }
            })
        })


    });
</script>-->
