body {
}
#login-maodal .modal-dialog{
    max-width:420px;
}
.login-maodal .modal-header,.register-maodal .modal-header{
    background-color: #f5f5f5;
    color: #505050;
    border-radius: 4px 4px 0 0;
    border: 0;
    text-align: center;
}
#modal-login-header{
    text-align: center;
    line-height: unset;
    width: 100%;
    font-size: 17px;
}
.login-maodal .modal-footer,.register-maodal .modal-footer{
    background-color: #f5f5f5;
    color: #767676;
    border-radius:0 0 4px 4px;
    text-align: center;
    min-height: 40px;
    border-top: none;
}
.input-cust{
    width:80%;
    max-width:80%;
    margin:auto;
}
.forgot-pass{
    width:80%;
    margin:auto;
    text-align:right;
}
.forgot-pass .login-forgot-pass {
    text-align: right;
    margin-bottom: 20px;
    color: #e59194;
}
.login-maodal .modal-footer{
    justify-content: center;
}
.login-maodal .modal-footer a {
    cursor: pointer;
    text-decoration: none;
    color: #e59194;
    font-weight: 500;
}
