
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
body{
font-family: 'Poppins', sans-serif;
}

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    width: 100%;
    background-color: #363847;
    color: white;
    padding: 1%;
    color:white;
}

<<<<<<< HEAD
.navbar-default {
    background-color: orangered;
    border-color: #fbfbfb;
}

=======
>>>>>>> 6ea8208b6f279fa8616bba1e92f29493894ac9e3
.right:hover{
    color:#e1575c;
    text-decoration:none;
 }

.site-name, .site-name:hover,.menu > li > a:hover, .social-icons > li > a:hover{
color:white;
text-decoration:none;
}

.right > a{
color:rgba(0, 0, 0, 0.5);
text-decoration:none;
margin-right:10px;
}

.right > a:hover{
color: rgba(0, 0, 0, 0.7);
}

i {
font-family: fontawesome !important;
}

.footer-icons-pages *, .site-name{
color:white;
display: inline;
}

.social-icons i{
font-size:1.5rem;
}

.menu > li{
margin:10px
}

@media only screen and (max-width: 991px) {
  #navbarTogglerDemo03{
      text-align:center;
  }
}

#login-maodal .modal-dialog{
    max-width:420px;
}
#login-maodal .modal-header,#register-maodal .modal-header{
    background-color: #f5f5f5;
    color: #505050;
    border-radius: 4px 4px 0 0;
    border: 0;
    text-align: center;
}
.login-maodal .modal-footer,,#register-maodal .modal-header{
    background-color: #f5f5f5;
    color: #767676;
    border-radius:0 0 4px 4px;
    text-align: center;
    min-height: 40px;
    border-top: none;
}
.input-cust{
    width:80%;
    max-width:80%;
    margin:auto;
}